{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
  <main>
    <div>
        <h1>{{ mealplan.name }}</h1>
    </div>
    <p>
        To be served: {{ mealplan.date }}
    </p>
    {% for recipe in mealplan.recipes.all %}
        <p>
            <a href="{% url 'recipe_detail' recipe.id %}"> {{ recipe.name }} </a>
        </p>
    {% empty %}
        <p>
            This meal plan is empty 
        </p>
    {% endfor %}
    <div>
      <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
    </div>
  </main>
{% endblock content %}