{% extends 'paginate.html' %}

{% block content %}
  <main>
    <div>
        <a href="{% url 'meal_plan_new'%}">Create meal plan</a>
    </div>
    <h2>Here are your meal plans:</h2>
    {% for meal_plan in mealplan_list %}
      <div>
        <h2>
          <a href="{% url 'meal_plan_detail' meal_plan.pk %}">{{ meal_plan.name }}</a>
        </h2>
      </div>
    {% empty %}
      <div>
        You don't have any meal plans saved yet. Why don't you <a href="{% url 'meal_plan_new'%}">create</a> one?
      </div>
    {% endfor %}
  </main>
{% endblock content %}